.searchForm {
  width: 360px;
}

.containerBtn {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.btnSearch,
.btnReset {
  border-radius: 200px;
  padding: 16px 60px;
  background: var(--button);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  border: none;
  transition: all 250ms ease-in-out;
}

.btnReset {
  padding: 16px 68px;
}

.btnSearch:hover,
.btnSearch:focus,
.btnReset:hover,
.btnReset:focus {
  background: #d84343;
}

.error {
  position: absolute;
  left: 8px;
  bottom: -18px;
  color: red;
  font-size: 12px;
}
