.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
  border-radius: 100px;
  padding: 12px 18px;
  background: var(--block-features);
}

.icon {
  width: 20px;
  height: 20px;
}
