.location {
  position: relative;
}

.locationLabel {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: rgba(16, 24, 40, 0.6);
  margin-bottom: 8px;
}

.inputWrapper {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
  fill: #fff;
  stroke: rgba(16, 24, 40, 0.6);
  transition: all 250ms ease-in-out;
}

.locationInput {
  width: 100%;
  padding: 18px 18px 18px 40px;
  background-color: #f5f5f5;
  border: none;
  outline: none;
  border-radius: 10px;
  background: var(--inputs);
  transition: all 250ms ease-in-out;
}

.locationInput:hover,
.locationInput:focus {
  color: var(--main);
}

.locationInputHoverFocus .icon {
  stroke: var(--main);
}
