.wrapper {
  margin-top: 44px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
  padding-bottom: 24px;
  width: 430px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 24px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
