.header {
  background-color: #f2f4f7;
}

.headerNav {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-left: 120px;
  gap: 100px;
}

.navLink {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: var(--main);
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 5px solid transparent;
}

.activeNav {
  border-bottom-color: var(--button);
}
