.container {
  display: flex;
  gap: 24px;
}

.containerImg {
  border-radius: 10px;
  width: 290px;
  height: 310px;
  background-color: var(--block-features);
}

.containerContents {
  width: 526px;
  height: 310px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title,
.headerContent {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: var(--main);
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 350px;
}

.headerContent {
  display: flex;
  align-items: center;
}

.addFavorite {
  padding: 0;
  border: none;
  background: transparent;
  margin-left: 10px;
}

.svgHeart {
  fill: #fff;
  stroke: var(--main);
  transition: all 250ms ease-in-out;
}

.svgHeart:hover {
  fill: var(--button);
  stroke: var(--button);
}

.svgHeartActive {
  fill: var(--button);
  stroke: var(--button);
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  font-size: 16px;
  color: var(--text);
  margin-top: 24px;
}

.button {
  border-radius: 200px;
  padding: 16px 40px;
  background: var(--button);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  border: none;
  outline: none;
  margin-top: 24px;
  transition: all 250ms ease-in-out;
}

.button:hover,
.button:focus {
  background: #d84343;
}
