.featuresWrapper {
  width: 902px;
  height: 532px;
  margin-top: 44px;
  display: flex;
  gap: 24px;
}

.wrapper {
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper2 {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  padding: 24px;
  width: 448px;
  height: 532px;
}
