.wrapper {
  background: #fff;
  height:calc(100vh - 75px) ;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://ftp.goit.study/img/campers-test-task/1-1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home {
  font-size: 60px;
  max-width:  1000px;
}

.company {
  color: #e44848;
}
