.list {
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.item {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 358px;
  background: #fff;
}

.message {
  font-size: 40px;
}
